# Ignore the deps and obj files
*.o
*.d
*.spv
.clangd/
.ccls-cache/
# compile_commands.json


# Ignore the CMake build file
CMakeFiles
CMakeCache.txt
*.cmake
!/cmake/*.cmake
Makefile

# Ignore the build directory
build/
cmake-build-*
.vscode/*
